@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("icomoon.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.2/css/swiper.min.css");
a {
  color: #2b2b2b;
  text-decoration: none;
}
a:hover {
  color: #ff7c39;
}

.anim-eas-in, .hmWhatWeDo > .container .infographics li a, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics li a, .umFooter .main .socialM li a, .hm-devOps-section > .container ul.row li > .con-wrapper, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper, .hm-solution .container .solution-wraper ul li a:after, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a:after, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a:after, .hm-solution .container .solution-wraper ul li a, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a, .hm-banner .hm-slider .container > .carousel .carousel-indicators, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-indicators, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-indicators, .hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner, .ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap a, .ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu, .ul-nav {
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
}

p {
  font-family: "Noto Sans";
  font-size: 1.25rem;
  font-weight: 300;
}

.heading-1 {
  font-size: 3.438rem;
  font-family: "Arimo";
  font-weight: 300;
}
@media (max-width: 1400px) {
  .heading-1 {
    font-size: 2.6rem;
  }
}

.heading-4 {
  font-size: 2.188rem;
  font-family: "Arimo";
  font-weight: 300;
}

@media (max-width: 980px) {
  .container, .hm-banner .logoReal.slick-slider .slick-track {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.btn {
  padding: 10px 30px;
  border-radius: 0;
}
.btn.btn-primary {
  background: #ff7c39;
  border: 1px solid #ff7c39;
}
.btn.btn-tertiary {
  background: transparent;
  border: 1px solid #fff;
}

input, optgroup, select, textarea {
  display: block;
  width: 100%;
  border: none 0;
  border-bottom: 1px solid #ababab;
  padding: 20px;
}

.slick-slide {
  display: flex;
  flex-basis: content;
}
@media (max-width: 960px) {
  .slick-slide {
    margin: 0 25px;
  }
}
.slick-slide img {
  max-height: 100%;
  max-width: inherit;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}
.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
}
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  display: table;
  content: "";
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: flex;
  margin: auto 25px;
}
@media (min-width: 980px) {
  .slick-initialized .slick-slide {
    height: 100%;
    margin: auto;
  }
}
@media (max-width: 980px) {
  .slick-initialized .slick-slide {
    height: 100%;
    margin: auto 20px;
  }
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

.swipegory {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 70px;
  overflow: hidden;
  transition: 1s height;
  transform: translate3d(0, 0, 0);
  margin-bottom: 5px;
}
@media (min-width: 961px) {
  .swipegory {
    height: 410px !important;
  }
}
@media (max-width: 960px) {
  .swipegory {
    height: 320px;
  }
}
.swipegory nav ul {
  height: 70px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 960px) {
  .swipegory nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.swipegory nav li {
  display: inline-block;
  text-align: center;
  transition: 1s all;
  transform: translate3d(0, 0, 0);
  line-height: 70px;
  height: 70px;
}
@media (min-width: 961px) {
  .swipegory nav li {
    margin-left: 0px !important;
  }
}
@media (max-width: 960px) {
  .swipegory nav li {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    transition: 1s all;
    transform: translate3d(0, 0, 0);
    line-height: 70px;
    height: 70px;
  }
}
.swipegory nav li.prev {
  left: 0;
}
@media (max-width: 960px) {
  .swipegory nav li.cur {
    left: 50%;
  }
}
.swipegory nav li.cur a {
  color: #2b2b2b;
}
.swipegory nav li.cur a:after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
@media (max-width: 960px) {
  .swipegory nav li.next {
    left: 100%;
  }
  .swipegory nav li.before {
    left: 0;
  }
  .swipegory nav li.after {
    left: 100%;
  }
}
.swipegory nav li a {
  position: relative;
  color: #999;
  text-decoration: none;
  padding: 0 20px;
  height: 70px;
  line-height: 70px;
  display: block;
  overflow: hidden;
  transition: 1s color;
}
.swipegory nav li a:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ff7c39;
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: 1s all;
  transform: translate3d(0, 3px, 0);
}
.swipegory ul.panes {
  position: absolute;
  width: 100%;
  height: 210px;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: move;
}
.swipegory ul.panes li {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;
  transition: 1s all;
  transform: translate3d(0, 0, 0);
}
.swipegory ul.panes li .logo-list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  white-space: nowrap;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.swipegory ul.panes li .logo-list img {
  max-height: 50px;
  max-width: 100%;
}
.swipegory ul.panes li .logo-list .frontend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.swipegory ul.panes li .logo-list .frontend > div {
  width: 14%;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .swipegory ul.panes li .logo-list .frontend > div {
    width: 25%;
  }
}
.swipegory ul.panes li.prev {
  transform: translate3d(-200%, 0, 0);
}
.swipegory ul.panes li.cur {
  transform: translate3d(-100%, 0, 0);
}
.swipegory ul.panes li.next {
  transform: translate3d(0, 0, 0);
}
.swipegory ul.panes li.before {
  transform: translate3d(-200%, 0, 0);
}
.swipegory ul.panes li.after {
  transform: translate3d(0, 0, 0);
}

/* Define minimum font size */
html {
  font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arimo";
}

body {
  font-weight: 400;
  font-size: 16px;
}
body.ofHidden {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.ul-nav {
  padding: 30px 0;
}
@media (max-width: 992px) {
  .ul-nav {
    padding: 0;
  }
}
.ul-nav .navbar-brand {
  max-width: 180px;
}
@media (max-width: 992px) {
  .ul-nav .navbar-brand {
    padding: 20px 0;
  }
}
.ul-nav.navbar-light .navbar-nav .nav-link.active, .ul-nav.navbar-light .navbar-nav .nav-link, .ul-nav.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  font-family: "Arimo";
}
@media (max-width: 992px) {
  .ul-nav.navbar-light .navbar-nav .nav-link.active, .ul-nav.navbar-light .navbar-nav .nav-link, .ul-nav.navbar-light .navbar-nav .show > .nav-link {
    color: #2b2b2b;
  }
}
@media (min-width: 992px) {
  .ul-nav.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0 none;
  border-radius: 0;
  top: 109px;
  padding: 50px 0;
}
@media (min-width: 993px) {
  .ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu {
    height: calc(100vh - 79px);
    overflow-y: auto;
  }
}
@media (max-width: 992px) {
  .ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: initial;
    top: 0;
    padding: 0;
    padding-top: 15px;
    margin-left: -30px;
    margin-right: -30px;
  }
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .row {
  margin: 0 -30px;
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .col-sm-4 {
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap {
  position: relative;
  color: #fff;
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap .nav-icon {
  font-size: 50px;
  color: #ff7c39;
  margin-bottom: 25px;
  min-height: 76px;
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap .nav-icon.icon-infinity {
  font-size: 40px;
}
@media (min-width: 960px) {
  .ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap .nav-icon.icon-hours {
    margin-top: 57px;
  }
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap h6 {
  font-size: 18px;
  font-weight: bold;
  color: #2b2b2b;
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap a {
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #ababab;
  color: #2b2b2b;
}
.ul-nav.navbar-expand-lg .navbar-nav .dropdown-menu .drop-nav-wrap a:hover {
  color: #ff7c39;
}
.ul-nav.stickyNav {
  background: #000000;
  padding: 15px 0;
}
.ul-nav.stickyNav .navbar-nav .dropdown-menu {
  top: 79px;
}
@media (max-width: 992px) {
  .ul-nav.stickyNav {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    margin-left: -30px;
    margin-right: -30px;
    background: #fff;
    padding: 30px;
    height: 91vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .navbar-collapse .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 15px;
  }

  .navbar-light .navbar-toggler-icon {
    border: 0 none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  .navbar-light .navbar-toggler {
    border: 0 none;
  }

  .navbar-light .navbar-toggler:focus {
    box-shadow: none;
  }
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .warning {
    display: none;
  }
}
.hm-banner {
  height: 100vh;
  background: url(../assets/images/home-bg.jpg);
  background-position: bottom right;
  background-size: cover;
}
.hm-banner .hm-slider {
  height: calc(100% - 100px);
}
.hm-banner .hm-slider .container, .hm-banner .hm-slider .logoReal.slick-slider .slick-track, .hm-banner .logoReal.slick-slider .hm-slider .slick-track {
  height: 100%;
}
.hm-banner .hm-slider .container > .carousel, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel {
  height: 100%;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner,
.hm-banner .hm-slider .container > .carousel .carousel-item,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item {
  height: 100%;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner *, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner *, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner *,
.hm-banner .hm-slider .container > .carousel .carousel-item *,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item *,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item * {
  color: #fff;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner {
  height: 100%;
  display: flex;
  position: relative;
  padding-top: 100px;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .ifgps, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .ifgps, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .ifgps,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .ifgps,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .ifgps,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .ifgps {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -9%;
  max-width: 40%;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l {
  margin: auto 0;
  max-width: 660px;
  position: relative;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l .aws-badge, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l .aws-badge, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l .aws-badge,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l .aws-badge,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l .aws-badge,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l .aws-badge {
  position: absolute;
  right: -140px;
  top: 20px;
  max-width: 150px;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l p, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l p, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l p,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l p,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l p,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l p {
  font-size: 1.25rem;
  font-weight: 100;
  clear: both;
}
@media (max-width: 1400px) {
  .hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l p, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l p, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l p,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l p,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l p,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l p {
    font-size: 1rem;
  }
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner {
  text-decoration: none;
  font-weight: 600;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner i, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner i, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner i,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner i,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner i,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner i {
  margin-left: 10px;
  font-size: 15px;
  position: relative;
  top: 1px;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner:hover, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner:hover, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l a.btn-banner:hover,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner:hover,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner:hover,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l a.btn-banner:hover {
  color: #ff7c39;
}
.hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l span, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l span, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l span,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l span,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l span,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l span {
  display: block;
  margin-top: 50px;
}
@media (max-width: 960px) {
  .hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner {
    flex-direction: column;
    justify-content: center;
  }
  .hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l .aws-badge, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l .aws-badge, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l .aws-badge,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l .aws-badge,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l .aws-badge,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l .aws-badge {
    position: inherit;
    right: 0;
    top: 0;
    max-width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .cr-co-l .heading-1, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l .heading-1, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .cr-co-l .heading-1,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .cr-co-l .heading-1,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l .heading-1,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .cr-co-l .heading-1 {
    font-size: 2rem;
  }
  .hm-banner .hm-slider .container > .carousel > .carousel-inner .cr-inner .ifgps, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel > .carousel-inner .cr-inner .ifgps, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel > .carousel-inner .cr-inner .ifgps,
.hm-banner .hm-slider .container > .carousel .carousel-item .cr-inner .ifgps,
.hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-item .cr-inner .ifgps,
.hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-item .cr-inner .ifgps {
    position: inherit;
    right: 0;
    top: 0%;
    margin-top: 25px;
    max-width: 200px;
  }
}
.hm-banner .hm-slider .container > .carousel .carousel-indicators, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-indicators, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-indicators {
  justify-content: left;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
}
.hm-banner .hm-slider .container > .carousel .carousel-indicators .active, .hm-banner .hm-slider .logoReal.slick-slider .slick-track > .carousel .carousel-indicators .active, .hm-banner .logoReal.slick-slider .hm-slider .slick-track > .carousel .carousel-indicators .active {
  width: 60px;
  background-color: #ff7c39;
}
.hm-banner .logoReal {
  height: 12%;
  background: rgba(0, 0, 0, 0.6);
}
.hm-banner .logoReal > .container, .hm-banner .logoReal.slick-slider .logoReal > .slick-track {
  display: flex;
  height: 100%;
}
.hm-banner .logoReal ul {
  margin: auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
}
.hm-banner .logoReal ul li {
  margin: auto;
  padding: 0 2vw;
}
.hm-banner .logoReal.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.hm-banner .logoReal.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}
.hm-banner .logoReal.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.hm-banner .logoReal.slick-slider .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.hm-banner .logoReal.slick-slider .slick-list:focus {
  outline: none;
}
.hm-banner .logoReal.slick-slider .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.hm-banner .logoReal.slick-slider .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.hm-banner .logoReal.slick-slider .slick-track:before {
  display: table;
  content: "";
}
.hm-banner .logoReal.slick-slider .slick-track:after {
  display: table;
  content: "";
  clear: both;
}
.hm-banner .logoReal.slick-slider .slick-loading .slick-track {
  visibility: hidden;
}
.hm-banner .logoReal.slick-slider .slick-loading .slick-slide {
  visibility: hidden;
}
.hm-banner .logoReal.slick-slider .slick-slide {
  display: none;
  float: left;
  min-height: 1px;
}
.hm-banner .logoReal.slick-slider [dir=rtl] .slick-slide {
  float: right;
}
.hm-banner .logoReal.slick-slider .slick-slide.slick-loading img {
  display: none;
}
.hm-banner .logoReal.slick-slider .slick-slide.dragging img {
  pointer-events: none;
}
.hm-banner .logoReal.slick-slider .slick-initialized .slick-slide {
  display: flex;
  flex-basis: content;
}
.hm-banner .logoReal.slick-slider .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.hm-banner .logoReal.slick-slider .slick-arrow.slick-hidden {
  display: none;
}

.hm-solution {
  background: url(../assets/images/sol-bg.png) fixed;
  background-size: cover;
  position: relative;
  padding: 10vh 0;
  display: flex;
}
@media (max-width: 960px) {
  .hm-solution {
    height: auto;
  }
}
.hm-solution:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  content: "";
  background: rgba(0, 0, 0, 0.6);
}
.hm-solution .container, .hm-solution .hm-banner .logoReal.slick-slider .slick-track, .hm-banner .logoReal.slick-slider .hm-solution .slick-track {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 5;
}
.hm-solution .container *, .hm-solution .hm-banner .logoReal.slick-slider .slick-track *, .hm-banner .logoReal.slick-slider .hm-solution .slick-track * {
  color: #fff;
}
.hm-solution .container .solution-wraper, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper {
  padding: 30px 0;
}
.hm-solution .container .solution-wraper ul, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hm-solution .container .solution-wraper ul li, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li {
  display: block;
  height: 120px;
  margin-bottom: 30px;
}
@media (max-width: 960px) {
  .hm-solution .container .solution-wraper ul li, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li {
    height: auto;
  }
}
@media (max-width: 767px) {
  .hm-solution .container .solution-wraper ul li, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li {
    height: 70px;
  }
}
.hm-solution .container .solution-wraper ul li a, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a {
  display: flex;
  height: 100%;
  padding: 15px;
  background: #fff;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.hm-solution .container .solution-wraper ul li a:after, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a:after, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #ff7c39 transparent transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.hm-solution .container .solution-wraper ul li a span, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a span, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a span {
  display: block;
  margin: auto;
  color: #2b2b2b;
}
.hm-solution .container .solution-wraper ul li a:hover, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a:hover, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a:hover {
  background: #ff7c39;
}
.hm-solution .container .solution-wraper ul li a:hover span, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a:hover span, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a:hover span {
  color: #fff;
}
.hm-solution .container .solution-wraper ul li a:hover:after, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .solution-wraper ul li a:hover:after, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .solution-wraper ul li a:hover:after {
  right: 0;
  top: 0;
  border-color: transparent #fff transparent transparent;
}
.hm-solution .container .btn, .hm-solution .hm-banner .logoReal.slick-slider .slick-track .btn, .hm-banner .logoReal.slick-slider .hm-solution .slick-track .btn {
  margin-top: 20px;
}

.hm-shtIntro {
  padding: 100px 0 120px;
  background: #F3F3F3;
}
.hm-shtIntro .row {
  margin-top: 50px;
}
.hm-shtIntro .col-sm-4 {
  min-height: 350px;
  height: 100%;
  display: flex;
  background: #fff;
}
@media (max-width: 960px) {
  .hm-shtIntro .col-sm-4 {
    height: initial;
  }
}
.hm-shtIntro .col-sm-4 .cont-wrap {
  padding: 35px;
  color: #000000;
  margin: auto 0;
}
.hm-shtIntro .col-sm-4 .cont-wrap a {
  text-decoration: none;
  color: #ff7c39;
  text-align: right;
  display: block;
  font-size: 1.25rem;
}
.hm-shtIntro .col-sm-4.bg-1 {
  background: url(../assets/images/story-bg.png);
  background-size: cover;
}
.hm-shtIntro .col-sm-4.bg-2 {
  background: url(../assets/images/yus.jpg);
  background-size: cover;
}
.hm-shtIntro .col-sm-4.bg-3 {
  background: url(../assets/images/whorwe-bg.jpg);
  background-size: cover;
}

.hm-devOps-section {
  padding: 100px 0;
}
.hm-devOps-section > .container .heading-4, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track .heading-4 {
  margin-top: 100px;
  margin-bottom: 50px;
}
.hm-devOps-section > .container .co-wrap, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track .co-wrap {
  max-width: 920px;
  margin: auto;
  margin-bottom: 50px;
}
.hm-devOps-section > .container ul.row, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row {
  list-style: none;
  padding-left: 0;
}
.hm-devOps-section > .container ul.row li > .con-wrapper, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper {
  background: #fff;
  height: 300px;
  padding: 25px;
  position: relative;
  border: 1px solid #d9d9d9;
  display: flex;
}
.hm-devOps-section > .container ul.row li > .con-wrapper .icon, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper .icon {
  position: absolute;
  left: 25px;
  top: 30px;
  font-size: 70px;
  color: #ff7c39;
}
.hm-devOps-section > .container ul.row li > .con-wrapper:hover, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper:hover {
  box-shadow: 0 26px 19px -14px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
}
.hm-devOps-section > .container ul.row li:nth-child(odd) > .con-wrapper, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li:nth-child(odd) > .con-wrapper {
  background: #F3F3F3;
}
@media (max-width: 960px) {
  .hm-devOps-section > .container ul.row li, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li {
    flex: 1 0 33%;
    margin-bottom: 20px;
  }
  .hm-devOps-section > .container ul.row li:nth-child(even) > .con-wrapper, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li:nth-child(even) > .con-wrapper {
    background: #F3F3F3;
  }
  .hm-devOps-section > .container ul.row li > .con-wrapper, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper {
    height: auto;
    flex-direction: row;
    position: relative;
    top: -1px;
  }
  .hm-devOps-section > .container ul.row li > .con-wrapper .icon, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper .icon {
    position: inherit;
    left: 0;
    bottom: 0;
    top: initial;
    margin-right: 15px;
    width: 60px;
    text-align: center;
    font-size: 50px;
  }
  .hm-devOps-section > .container ul.row li > .con-wrapper .icon, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper .icon, .hm-devOps-section > .container ul.row li > .con-wrapper h6, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper h6 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .hm-devOps-section > .container ul.row li > .con-wrapper h6 br, .hm-banner .logoReal.slick-slider .hm-devOps-section > .slick-track ul.row li > .con-wrapper h6 br {
    display: none;
  }
}

.hm-features {
  overflow: hidden;
  background: #FBFBFB;
}
.hm-features .row {
  --bs-gutter-x: 7.5rem;
}
.hm-features .bg-grey {
  background: #F3F3F3;
  position: relative;
}
.hm-features .bg-grey::after {
  background: #F3F3F3;
  content: "";
  position: absolute;
  right: -3000px;
  width: 3000px;
  bottom: 0;
  top: 0;
}
.hm-features .bg-grey.bg-left::after {
  right: inherit;
  left: -3000px;
}
.hm-features .cont-wrap {
  padding: 100px 0;
}
@media (min-width: 1401px) {
  .hm-features .cont-wrap .text-wrapp {
    min-height: 456px;
  }
}
@media (min-width: 1024px) {
  .hm-features .cont-wrap .text-wrapp {
    min-height: 550px;
  }
}
.hm-features .cont-wrap article {
  position: relative;
  display: flex;
  -ms-flex-align: space-around;
  margin-top: 50px;
}
.hm-features .cont-wrap article img {
  max-height: 64px;
}
@media (max-width: 960px) {
  .hm-features .cont-wrap article img {
    max-height: 50px;
  }
}
.hm-features .cont-wrap article a.view-more {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  color: #ff7c39;
  text-decoration: none;
}

.hm-tecStack {
  padding: 100px 0;
}
.hm-tecStack .container > .con-wrap, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track > .con-wrap, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track > .con-wrap {
  max-width: 600px;
  margin: auto;
}
.hm-tecStack .container .tab-inner, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner, .hm-tecStack .container .tab-inner *, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner *, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner * {
  transition: all 0.25s;
}
.hm-tecStack .container .tab-inner .out-wrap, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap {
  position: relative;
  padding: 30px;
  width: 100%;
  margin: 50px auto 0;
}
@media (max-width: 960px) {
  .hm-tecStack .container .tab-inner .out-wrap, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap {
    padding: 30px 0px;
  }
}
.hm-tecStack .container .tab-inner .out-wrap #tabs, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap #tabs, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap #tabs {
  border-bottom: 0;
  margin: 0 0px 20px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap !important;
  height: 50px;
}
@media (min-width: 1024px) {
  .hm-tecStack .container .tab-inner .out-wrap #tabs, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap #tabs, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap #tabs {
    justify-content: center;
  }
}
.hm-tecStack .container .tab-inner .out-wrap #tabs::-webkit-scrollbar, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap #tabs::-webkit-scrollbar, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap #tabs::-webkit-scrollbar {
  display: none;
}
.hm-tecStack .container .tab-inner .out-wrap #tabs li, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap #tabs li, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap #tabs li {
  width: auto;
  white-space: nowrap;
  margin: 0 5px;
}
.hm-tecStack .container .tab-inner .out-wrap #tabs li a, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap #tabs li a, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap #tabs li a {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  margin: 0;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 20px;
  border-bottom: 2px solid #fff;
  text-align: center;
}
.hm-tecStack .container .tab-inner .out-wrap #tabs li a:hover, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap #tabs li a:hover, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap #tabs li a:hover, .hm-tecStack .container .tab-inner .out-wrap #tabs li a.active, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap #tabs li a.active, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap #tabs li a.active {
  color: #ff7c39;
  border-bottom: 2px solid #ff7c39;
}
.hm-tecStack .container .tab-inner .out-wrap .tab-content, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap .tab-content, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap .tab-content {
  overflow: hidden !important;
  position: relative;
}
.hm-tecStack .container .tab-inner .out-wrap .tab-content .logo-list, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap .tab-content .logo-list, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap .tab-content .logo-list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  white-space: nowrap;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.hm-tecStack .container .tab-inner .out-wrap .tab-content .logo-list img, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap .tab-content .logo-list img, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap .tab-content .logo-list img {
  max-height: 50px;
  max-width: 100%;
}
.hm-tecStack .container .tab-inner .out-wrap .tab-content .logo-list .frontend, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap .tab-content .logo-list .frontend, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap .tab-content .logo-list .frontend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.hm-tecStack .container .tab-inner .out-wrap .tab-content .logo-list .frontend > div, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap .tab-content .logo-list .frontend > div, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap .tab-content .logo-list .frontend > div {
  width: 14%;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .hm-tecStack .container .tab-inner .out-wrap .tab-content .logo-list .frontend > div, .hm-tecStack .hm-banner .logoReal.slick-slider .slick-track .tab-inner .out-wrap .tab-content .logo-list .frontend > div, .hm-banner .logoReal.slick-slider .hm-tecStack .slick-track .tab-inner .out-wrap .tab-content .logo-list .frontend > div {
    width: 25%;
  }
}

.testimonial {
  background: url(../assets/images/testi-bg.jpg);
  background-size: cover;
  padding: 40px 0px;
  position: relative;
}
.testimonial::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
@media (min-width: 961px) {
  .testimonial .container, .testimonial .hm-banner .logoReal.slick-slider .slick-track, .hm-banner .logoReal.slick-slider .testimonial .slick-track {
    height: 690px;
  }
}
.testimonial .testi-wrap {
  margin: auto 0;
  position: relative;
  padding-top: 100px;
}
.testimonial .testi-wrap.icon:before {
  position: absolute;
  top: 0;
  left: 0;
  color: #ff7c39;
  font-size: 60px;
  z-index: 20;
}
.testimonial .testi-wrap p {
  color: #fff;
}
.testimonial .testi-wrap p b {
  color: #ff7c39;
}
.testimonial .testi-wrap .authWrap {
  display: flex;
  margin-top: 90px;
}
@media (max-width: 960px) {
  .testimonial .testi-wrap .authWrap {
    margin-bottom: 50px;
  }
}
.testimonial .testi-wrap .authWrap .prof {
  max-width: 134px;
  border-radius: 20px;
  overflow: hidden;
}
.testimonial .testi-wrap .authWrap .authDetail {
  margin-top: auto;
  margin-left: 20px;
}
.testimonial .testi-wrap .authWrap .authDetail h6 {
  font-weight: bold;
  font-size: 1.563rem;
  margin-bottom: 5px;
  color: #fff;
}
.testimonial .testi-wrap .authWrap .authDetail p {
  margin-top: 0;
  margin-bottom: 0;
}
.testimonial .testi-wrap .authWrap .authDetail p small {
  color: #ff7c39;
}
.testimonial .carousel {
  position: initial;
}
.testimonial .carousel .carousel-indicators {
  margin-bottom: 0;
  left: inherit;
  bottom: 80px;
}
@media (max-width: 960px) {
  .testimonial .carousel .carousel-indicators {
    bottom: 20px;
    left: 0;
  }
}
.testimonial .carousel .carousel-indicators .active {
  width: 60px;
  background-color: #ff7c39;
}

.hm-feedbackFm {
  padding: 130px 0;
}
.hm-feedbackFm .hm-formWrap {
  margin-top: 80px;
}
.hm-feedbackFm .hm-formWrap .btn {
  width: auto;
  margin-left: 20px;
}
.hm-feedbackFm .hm-formWrap .captcha-wrap {
  margin-left: auto;
  max-width: 220px;
  margin-right: 0;
}

.umFooter {
  padding: 70px 0 30px;
  background: #F3F3F3;
}
.umFooter * {
  font-size: 1.25rem;
}
@media (max-width: 1400px) {
  .umFooter * {
    font-size: 1rem;
  }
}
.umFooter header {
  margin-bottom: 50px;
}
.umFooter header img {
  max-height: 57px;
}
.umFooter .main {
  padding-bottom: 70px;
  border-bottom: 1px solid #dedede;
}
@media (min-width: 960px) {
  .umFooter .main .contactInfo {
    padding: 0 40px;
  }
}
@media (max-width: 960px) {
  .umFooter .main .col-sm-3 {
    margin-bottom: 50px;
  }
  .umFooter .main .col-sm-4 {
    margin-top: 50px;
  }
}
.umFooter .main p {
  font-weight: 400;
  color: #2b2b2b;
  margin-bottom: 3px;
}
.umFooter .main p a {
  text-decoration: none;
}
.umFooter .main p b {
  color: #ff7c39;
}
.umFooter .main p b a {
  text-decoration: none;
}
.umFooter .main .foot-nav {
  display: flex;
}
.umFooter .main .foot-nav a {
  display: inline-block;
  padding: 0px 10px;
  border-right: 1px solid #dedede;
  color: #2b2b2b;
  flex: auto;
}
.umFooter .main .foot-nav a.active {
  color: #ff7c39;
}
.umFooter .main .foot-nav a:hover {
  color: #ff7c39;
}
.umFooter .main .foot-nav a:last-child {
  border-right: none;
}
.umFooter .main .socialM {
  display: flex;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}
.umFooter .main .socialM li {
  display: inline-block;
  margin: 0;
  padding: 0;
  flex: auto;
  text-align: center;
}
.umFooter .main .socialM li a {
  display: inline-block;
  border-radius: 50px;
  width: 35px;
  padding: 5px;
  background: #ababab;
  color: #fff;
  height: 35px;
  font-size: 15px;
  text-align: center;
  line-height: 28px;
}
.umFooter .main .socialM li a:hover {
  background: #ff7c39;
}
.umFooter .main .socialM li:last-child {
  margin-bottom: 0;
}
.umFooter .copyRight {
  padding-top: 30px;
  font-size: 1rem;
  color: #ababab;
}
.umFooter .copyRight a {
  font-size: 1rem;
}

.hmWhatWeDo {
  padding: 100px 0 120px;
}
.hmWhatWeDo > .container > .text-wrap, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track > .text-wrap {
  max-width: 800px;
  margin: auto;
  margin-bottom: 80px;
}
.hmWhatWeDo > .container .infographics, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics {
  margin: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}
.hmWhatWeDo > .container .infographics.left:before, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics.left:before {
  right: -20px;
}
.hmWhatWeDo > .container .infographics.right:before, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics.right:before {
  left: -20px;
}
.hmWhatWeDo > .container .infographics:before, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics:before {
  content: "";
  width: 2px;
  position: absolute;
  top: 35px;
  bottom: 37px;
  z-index: 1;
  background: #ff7c39;
}
@media (max-width: 767px) {
  .hmWhatWeDo > .container .infographics:before, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics:before {
    left: 50% !important;
    margin-left: -1px;
  }
}
.hmWhatWeDo > .container .infographics li, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics li {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}
.hmWhatWeDo > .container .infographics li a, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics li a {
  display: block;
  border: 2px solid #ff7c39;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  color: #2b2b2b;
  position: relative;
  background: #fff;
  z-index: 10;
  font-size: 1.25rem;
}
.hmWhatWeDo > .container .infographics li a:after, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics li a:after {
  content: "";
  height: 2px;
  background: #ff7c39;
  width: 20px;
  position: absolute;
  top: 33px;
}
@media (max-width: 767px) {
  .hmWhatWeDo > .container .infographics li a:after, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics li a:after {
    display: none;
  }
}
.hmWhatWeDo > .container .infographics li a:hover, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics li a:hover {
  background: #ff7c39;
  color: #fff;
}
.hmWhatWeDo > .container .infographics li:last-child, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics li:last-child {
  margin-bottom: 0;
}
.hmWhatWeDo > .container .infographics.left li a:after, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics.left li a:after {
  left: 100%;
}
.hmWhatWeDo > .container .infographics.right li a:after, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .infographics.right li a:after {
  right: 100%;
}
.hmWhatWeDo > .container .inf-img, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .inf-img {
  flex-direction: column;
  padding: 30px;
  height: 100%;
  position: relative;
}
.hmWhatWeDo > .container .inf-img::before, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .inf-img::before {
  position: absolute;
  right: 0;
  height: 2px;
  background: #ff7c39;
  top: 50%;
  margin-top: -2px;
  content: "";
  left: -6px;
  right: -6px;
}
@media (max-width: 767px) {
  .hmWhatWeDo > .container .inf-img::before, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .inf-img::before {
    transform: rotate(90deg);
  }
}
.hmWhatWeDo > .container .inf-img img, .hm-banner .logoReal.slick-slider .hmWhatWeDo > .slick-track .inf-img img {
  margin: auto;
  position: relative;
}

/* Slider */
.awards {
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}
@media (max-width: 767px) {
  .awards {
    padding: 35px 0;
  }
}
.awards .slider.slick-initialized.slick-slider .slick-list {
  display: flex;
  flex-basis: max-content;
}
@media (min-width: 768px) {
  .awards .slider.slick-initialized.slick-slider .slick-slide img {
    max-height: 100%;
    margin: auto;
  }
}

.mouse-outer {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 45px;
  border: 2px solid #fff;
  border-radius: 70px;
  transition: border-color 0.2s ease-in-out;
}
.mouse-outer .mouse-wheel {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -0.9px;
  height: 17.5px;
  width: 4px;
  background-color: #ff7c39;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  -webkit-animation: scroll 1.4s infinite linear;
  animation: scroll 1.4s infinite linear;
}
.mouse-outer:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.mouse-outer:hover .mouse-wheel {
  background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 768px) {
  .mouse-outer {
    display: none !important;
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: scaleY(0.5) translateY(0);
  }
  20% {
    transform: scaleY(1) translateY(8.75px);
  }
  60% {
    transform: scaleY(0.5) translateY(15px);
  }
  to {
    transform: scaleY(0.5) translateY(0);
  }
}
@keyframes scroll {
  0% {
    transform: scaleY(0.5) translateY(0);
  }
  20% {
    transform: scaleY(1) translateY(8.75px);
  }
  60% {
    transform: scaleY(0.5) translateY(15px);
  }
  to {
    transform: scaleY(0.5) translateY(0);
  }
}/*# sourceMappingURL=stylesheet.css.map */